APP_ENV=development # Set to 'production' for production environment
POCKETBASE_ADMIN_USERNAME=<name>@rag-llm.de # Set the admin username for PocketBase
POCKETBASE_ADMIN_PASSWORD=<secret_password> # Set the admin password for PocketBase
SMTP_HOST=smtp.gmail.com # Set the SMTP host for sending emails
SMTP_PORT=587 # Set the SMTP port for sending emails
SMTP_USER=<gmail-address>@gmail.com # Set the SMTP user (email address) for sending emails
SMTP_PASSWORD=<secret_app_password> # Set the SMTP password for sending emails