streamlit
langchain==0.3.7
langchain-community==0.3.7
langchain-core==0.3.21
langchain-ollama==0.2.0
langchain-openai==0.2.6
langchain-text-splitters==0.3.2
faiss-cpu
pypdf
python-docx
docx2txt
tiktoken
fpdf2>=2.8.1
pocketbase
beautifulsoup4
pytesseract
easyocr
torch
pytest
